.decorations-container {
  width: 85%;
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
  position: relative;
}

.decoration {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
  width: 200px;
  padding: 10px;
  position: relative;
  background-color: #f8f8f8;
  transition: box-shadow 0.1s;
  transition: background-color 0.1s;
  overflow-y: hidden;
  overflow-x: none;
  border: 1px solid #eaeaea;
  cursor: pointer;
}

.decoration-toggle-fav {
  position: absolute;
  user-select: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.decoration-toggle-fav span {
  pointer-events: none;
}

.decoration:hover {
  box-shadow: 0 3px 30px rgb(0 0 0 / 7%);
}

.decoration:hover .decoration-specs {
  bottom: 0;
}

.decoration .material-symbols-outlined,
.decoration.fav-toy .material-symbols-sharp {
  display: block;
}

.decoration.fav-toy .material-symbols-outlined,
.decoration .material-symbols-sharp {
  display: none;
}

.decoration-name {
  font-size: 16px;
  text-align: center;
}

.decoration-specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200px;
  gap: 5px;
  height: auto;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: -100%;
  background-color: inherit;
  box-shadow: inherit;
  text-align: left;
  transition: bottom 0.5s;
}

.decoration-specs * {
  font-size: 10px;
  padding: 2px;
  border: 1px solid #e3e3e3;
}

.decoration-image {
  width: 90%;
  margin: 0 auto;
  user-select: none;
}

.fav-limit {
  display: flex;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  transition: opacity 0.3s;
  user-select: none;
  pointer-events: none;
}

.fav-limit span {
  margin: 0 auto;
}

.fav-limit.hide {
  opacity: 0;
}

@media (max-width: 1000px) {
  .decorations-container {
    width: 100%;
  }
}
