.tree-parameters,
.toy-selector {
  width: 250px;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 3px 30px rgb(0 0 0 / 7%);
}

.view-option {
  width: 250px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.view-option::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e3e3e3;
  left: 0;
  bottom: -20px;
}

.section-name {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.fx-buttons {
  min-width: 250px;
  margin: 0 auto;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.snow-button,
.sound-button {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: filter 0.2s;
  filter: brightness(0.85);
}

.snow-button {
  background-image: url("/assets/svg/snowflake.svg");
}

.sound-button {
  background-image: url("/assets/svg/audio.svg");
}

.snow-button.clicked,
.sound-button.clicked {
  filter: invert(57%) sepia(55%) saturate(5342%) hue-rotate(330deg)
    brightness(103%) contrast(96%);
}

.snow-button:hover,
.sound-button:hover {
  filter: brightness(0.8);
}

.snow-button.clicked:hover,
.sound-button.clicked:hover {
  filter: invert(57%) sepia(55%) saturate(5342%) hue-rotate(330deg)
    brightness(75%) contrast(96%);
}

.tree-picker,
.bg-picker,
.garland-picker,
.toys-picker {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
  user-select: none;
}

.toys-picker {
  width: 230px;
  margin: 0 auto;
  gap: 10px;
}

.garland-picker {
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.tree-option,
.bg-option {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}

.tree-option {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  background-color: #fff;
}

.bg-option {
  width: 46px;
  height: 46px;
  background-size: 46px 46px;
}

.tree-option:hover,
.bg-option:hover {
  transform: scale(1.05);
}

.garland-option {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  transition: transform 0.2s;
}

.garland-option:hover {
  transform: scale(1.05);
}

.garland-option.multi {
  background: linear-gradient(
    to right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
}

.garland-option.red {
  background-color: #fd0000;
}

.garland-option.green {
  background-color: #08aa05;
}

.garland-option.blue {
  background-color: #2299eb;
}

.garland-option.yellow {
  background-color: #fdd700;
}

.garland-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.garland-button,
.default-button {
  width: 150px;
  height: 40px;
  margin: 10px auto;
  transition: background-color 0.2s;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.view-option.single-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-button {
  margin-top: 20px;
}

.garland-button:hover,
.default-button:hover {
  background-color: #f8f8f8;
}

@media (max-width: 1000px) {
  .tree-parameters,
  .toy-selector {
    width: 100%;
    padding: 10px 0;
    gap: 10px;
  }
  .tree-picker,
  .bg-picker {
    gap: 5px;
    justify-content: center;
    padding: 0 5px;
  }
  .tree-option,
  .toy-option {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
  }
  .view-option {
    width: auto;
  }
  .toy-image {
    width: 35px;
    height: 35px;
  }
  .bg-option {
    width: 35px;
    height: 35px;
  }
  .tree-droppable {
    width: 200px;
    top: 30%;
    left: 10%;
    transform: scale(1.2, 2);
  }
  .tree-image {
    width: 250px;
    height: 600px;
  }
  .drop-zone {
    transform: translateX(-59px);
  }
  .tree-lights {
    height: calc(100% - 150px);
  }
  aside {
    height: auto;
  }
}

@media (max-width: 550px) {
  .toy-selector {
    grid-area: 2;
  }
  .tree-parameters {
    grid-area: 3;
  }
}
